<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__STATIC__/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<script type='text/javascript' src='__STATIC__/common/jquery-3.3.1.min.js'></script>
	<script type='text/javascript' src='__STATIC__/bootstrap-3.3.7-dist/js/bootstrap.min.js'></script>
	<style>
		.list-cate-item{ border: none; border-left: 1px solid #ddd; }
	</style>
</head>
<body>
	<div class="container">
	  <div class="row">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Blog</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
		        <li><a href="#">Link</a></li>
		        </li>
		      </ul>
		     
		      <ul class="nav navbar-nav navbar-right">
		      	 <form class="navbar-form navbar-left">
			        <div class="form-group">
			          <input type="text" class="form-control" placeholder="Search">
			        </div>
			        <button type="submit" class="btn btn-default">Submit</button>
			    </form>
		        <li><a href="#">Link</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	  </div>

		<div class="row" style="min-height: 750px;">
			<div class="col-md-8">
				<div class="page-header">
				  <h4>Example page header <small>Subtext for header</small></h4>
				</div>
				<div>
					<p>xxx</p>
					<br>
				</div>
				<div class="page-header">
				  <h4>Example page header <small>Subtext for header</small></h4>
				</div>
				<div>
					<p>xxx</p>
					<br>
				</div>

				<div class="col-md-9">
					<nav aria-label="Page navigation" class="text-center">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>

			</div>
			<div class="col-md-offset-1 col-md-3">
				<div style="height: 40px;"></div>
				<div class="list-group">
				  <a href="#" class="list-group-item list-cate-item">Dapibus ac facilisis in</a>
				  <a href="#" class="list-group-item list-cate-item">Morbi leo risus</a>
				  <a href="#" class="list-group-item list-cate-item">Porta ac consectetur ac</a>
				  <a href="#" class="list-group-item list-cate-item">Vestibulum at eros</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="text-center" style="margin: 30px; color: #aaa;">
				Copyright ©2019 木公007
			</div>
		</div>
	</div>
</body>
</html>